*{
    margin: 0;
    border: none;
    box-sizing: border-box;
}

/* nav a.active{
    text-decoration: none;
    color: red;
} */

nav a{
    margin-right: 20px;
}

button{
    margin-top: 150px;
    background-color: orangered;
    border-radius: 20px;
    padding: 5px;
    height: 50px;
    width: 160px;
    font-size: 18px;
    cursor: pointer;
    color: cyan;
}

button:hover{
    width: 170px;
    height: 60px;
    font-size: 20px;
}

input{
    width: 280px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 100px;
    margin-top: 30px;
}

.list{
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 70px;
    justify-content: center;
}

.list_child a{
    margin-right: 60px;
    margin-left: 30px;
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

.list_child:hover{
    font-size: 22px;
}

h3{
    font-weight: 200;
}

h2{
    margin-top: 70px;
}